body {
  background-color: #E2E2E2;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid #CCC;
  margin: 1em 0;
  padding: 0;
}

.manager {
  padding: 20px 20px 20px 295px;
}

#nav-panel {
  position: fixed;
  background-color: #182B5D;
  top: 0;
  bottom: 0;
  left: 0;
  width: 275px;
  color: #BBB;
  font-size: 12pt;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* height: calc(100vh - 85px); */
  /* min-height: 100vh; */
}

#nav-panel li {
  padding: 1px 1px 1px 70px;
  background-color: #0D1834;
}

#nav-panel li a:hover {
  text-decoration: none;
}

#nav-panel li:first-child {
  padding-top: 200px !important;
}

#nav-panel ul {
  list-style: none;
  padding: 0;
}

#nav-panel {
  padding-top: 40px;
}

span.nav-header, span.nav-header > a {
  color: #BBB;
}

span.nav-header > i, span.nav-header > a i {
  padding: 5px 10px 10px 25px;
}

#nav-panel ul > span.expander:hover, span.nav-header:hover > a {
  color: #779;
  text-decoration: none;
}

#nav-panel ul > span.expander {
  float: right;
  padding-right: 20px;
  cursor: pointer;
}

p.mb-1 {
  font-size: 14pt;
}
