<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div id="nav-panel">
  <div id="panel">
    <% if(user.admin) { %>
      <ul><span class="nav-header"><a href="/admin"><i class="fas fa-user-shield"></i>Admin Home</a></span><span class="expander"><i class="fas fa-plus-circle"></i></span>
        <li><a href="/admin/files">File Manager</a></li>
        <li><a href="/admin/jobs">Jobs Manager</a></li>
        <li><a href="/admin/images">Images Manager</a></li>
        <li><a href="/admin/form">Form Manager</a></li>
        <li><a href="/admin/accreditations">Accreditation Manager</a></li>
        <li><a href="/admin/employees">Employee Manager</a></li>
      </ul>
    <% } %>
    <ul><span class="nav-header"><a href="/employee"><i class="fas fa-id-badge"></i>Employee Home</a></span><span class="expander"><i class="fas fa-plus-circle"></i></span>
      <li><a href="/employee/files">Files</a></li>
      <% for(var i = 0; i < accreditations.length; i++) { %>
        <li>
          <a href="/employee/accreditation/<%= accreditations[i].id %>">
            <%= accreditations[i].title %>
          </a>
        </li>
      <% } %>
    </ul>
    <% if(user.roles.length > 0) { %>
      <ul><span class="nav-header"><i class="fas fa-user-check"></i>Supervisor</span><span class="expander"><i class="fas fa-plus-circle"></i></span>
        <% for(var i = 0; i < accreditations.length; i++) { %>
          <% if(user.roles.indexOf(accreditations[i].id) >= 0) { %>
            <li>
              <a href="/employee/supervisor/<%= accreditations[i].id %>">
                <%= accreditations[i].title %>
              </a>
            </li>
          <% } %>
        <% } %>
      </ul>
    <% } %>
  </div>
  <div id="footer">
    <a href="/logout">Logout</a>
  </div>
</div>
<script>
  $(document).ready(function() {
    $("span.expander").click(function() {
      $(this).parent().find("li").slideToggle();
    });
  });
</script>
