<div id="nav-panel">
  <div id="panel">
    <% if(user.admin) { %>
      <ul><a href="/admin">Admin Home</a>
        <li><a href="/admin/files">File Manager</a></li>
        <li><a href="/admin/jobs">Jobs Manager</a></li>
        <li><a href="/admin/images">Images Manager</a></li>
        <li><a href="/admin/form">Form Manager</a></li>
        <li><a href="/admin/accreditations">Accreditation Manager</a></li>
        <li><a href="/admin/employees">Employee Manager</a></li>
      </ul>
    <% } %>
    <ul><a href="/employee">Employee Home</a>
      <li><a href="/employee/files">Files</a></li>
      <% for(var i = 0; i < accreditations.length; i++) { %>
        <li>
          <a href="/employee/accreditation/<%= accreditations[i].id %>">
            <%= accreditations[i].title %>
          </a>
        </li>
      <% } %>
    </ul>
    <% if(user.roles.length > 0) { %>
      <ul>Supervisor
        <% for(var i = 0; i < accreditations.length; i++) { %>
          <% if(user.roles.indexOf(accreditations[i].id) >= 0) { %>
            <li>
              <a href="/employee/supervisor/<%= accreditations[i].id %>">
                <%= accreditations[i].title %>
              </a>
            </li>
          <% } %>
        <% } %>
      </ul>
    <% } %>
  </div>
  <div id="footer">
    <a href="/logout">Logout</a>
  </div>
</div>
