<meta charset="UTF-8">
<!--link for navbar-->
<link href="css/navbar.css" rel="stylesheet">
<title>Navbar</title>
  <nav id="mainNav" class="navbar navbar-default navbar-light bg-dark">
    <div class="container-fluid">
    <!-- <a class="navbar-brand navbar-right page-scroll" href="/login">Employee Login</a> -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-Navbar">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
      </div>

      <div class="collapse navbar-collapse" id="main-Navbar">
        <ul class="nav navbar-nav">
          <li>
            <a class="page-scroll" href="/">Home</a>
          </li>
          <li>
            <a class="page-scroll" href="/story">Our Story</a>
          </li>
          <li>
            <a class="page-scroll" href="/services">Services</a>
          </li>
          <li>
            <a class="page-scroll" href="/contact">Contact</a>
          </li>
          <% if(is_visible) { %>
            <li>
              <a class="page-scroll" href="/sample-work">Sample Work</a>
            </li>
          <% } %>
          <li>
            <a class="page-scroll" href="/estimate">Estimate</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
