<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Check Progress</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300'>

      <link rel="stylesheet" href="../styles/checklist.css">

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/index.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="styles/creative.min.css" rel="stylesheet">

</head>

<body>
  <section>
    <div>
        <h1><center>Master FLEX</center></h1>
        <h2>Remember to make them look good!</h2>
        <ul>
            <li>Know how to make a good connection on Collars, Y's, and Cans. Must be completely insulated but also NO insulation showing.</li>

            <li>Know the correct routing of the flex ductwork as to be as straight as possible minimizing turns and pinch points.</li>

            <li>Strap up Flex ductwork in a way as to ensure their are no saggs, kinks and that the ductwork is supported every 4 feet.</li>
        </ul>
    </div>
	<div>
		<input id="chk01" type="checkbox" />
		<label for="chk01">The skill has been demonstrated to me.</label>
	</div>
	<div>
		<input id="chk02" type="checkbox" />
		<label for="chk02">I have completed the task under supervision.</label>
	</div>
	<div>
		<input id="chk03" type="checkbox" />
		<label for="chk03">I have completed the task without supervision but with review.</label>
	</div>
	<div>
		<input id="chk04" type="checkbox" />
		<label for="chk04">I have successfully completed the task three times correctly without supervision.</label>
	</div>
	<div class="total">
		Total complete:
	</div>
</section>

    <script src="../js/checklist.js"></script>

</body>
</html>
