<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="landing page for empllyees after logging in">
    <meta name="author" content="Scott Corbitt">

    <title>Employee Portal</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/employee.css" rel="stylesheet"> -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <!-- <link href="/css/landing-page.css" rel="stylesheet"> -->

    <script src="/js/jquery-2.2.3.min.js"></script>
    <style>
      /* .form {
        margin: 5px;
      } */

      .form a {
        padding: 0;
        border: 0;
        width: 100%;
      }

      .form a:hover {
        text-decoration: none;
        color: #1A5484;
      }

      .form span {
        background: #0D245D;
        border-radius: 5px 0 0 5px;
        padding: 15px 10px 15px 20px;
        color: white;
        width: 55px;
        display: inline-block;
        text-align: left;
        position: relative;
        top: -30px;
      }

      .form p {
        width: calc(100% - 55px);
        display: inline-block;
        padding: 15px 20px 15px 10px;
        background: white;
        border-radius: 0 5px 5px 0;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .form a:hover p {
        background: #DFE8F1;
      }

      .form a:hover span {
        background: #0D1834;
      }
    </style>
  </head>

  <body>
    <%- include ../../partials/backend-nav.ejs %>
    <div id="manager" class="manager">
      <h1 class="display-4">Employee Forms</h1>
      <br>
      <div id='forms' class="row">
        <div class="col-md-11">
          <% for(var i=0; i < forms.length; i++) { %>
            <% if(!forms[i].public) { %>
              <% if(i%2 == 0) { %>
                <div class="row">
              <% } %>
              <div class="col-md-6 form">
                <a href="/employee/form?formid=<%= forms[i].id %>" class="btn btn-secondary btn-lg">
                  <span><i class="far fa-edit"></i></span><p><%= forms[i].name %></p>
                </a>
              </div>
              <% if(i%2 == 1 || i == forms.length-1) { %>
                </div>
              <% } %>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
