<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OSA Contact</title>

    <!-- Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/frontview-styles.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <link href="css/styles.css?v=1.6" rel="stylesheet">
    <link href="css/queries.css?v=1.6" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
  <section class="hero" id="hero">
    <header>
      <% include ../partials/nav.ejs %>
      <% include ../partials/header.ejs %>
    </header>

  </section>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <div class="content-section-a">

    <div class="container">
      <div class="row border-between">
        <div class="col-lg-3 col-sm-6">
            <p class="h1 header"><em>Contact Us</em></p>
            <br>
            <a href="/estimate" class="btn btn-success btn-lg"><i class="fa"></i> <span class="network-name">Get Estimate</span></a>
        </div>
        <div class="col-lg-8 col-sm-6">
            <div class="clearfix"></div>
            <p><em>EMAIL ADDRESS</em></p>
            <h3>info@offshoreair.com</h3>
            <br>
            <p><em>TELEPHONE NUMBER</em></p>
            <h3>808-557-7424</h3>
        </div>
      </div>

    </div>
    <br><br>
    <div class="container" style="background-color:lightgray">
      <center><h2><em>Serving the west side of the Big Island of Hawaii</em></h2></center>
    </div>
  </div>

  <!-- Footer -->
  <footer>
    <% include ../partials/footer.ejs %>
  </footer>

  <!-- jQuery -->
  <script src="js/jquery-2.2.3.min.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="js/bootstrap.min.js"></script>

</body>

</html>
