<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
  </head>
  <body>
    <h1>Something has gone wrong</h1>
    <p id="error"><%= error %></p>

    <a href="/">OSA Home</a>
    <a href="/employee">Employee Home</a>
    <a href="/logout">Logout</a>
  </body>
</html>
