<!DOCTYPE html>
<html>
  <head>
    <title>Employee Login</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Employee Login</div>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <div id="btn-logout" class="navbar-btn btn btn-primary hide">Sign Out</div>
          </li>
        </ul>
      </div>
    </nav>
    <div id="account-form-container" class="center-vertical">
      <form method="post" id="account-form" class="form-horizontal well">
        <h2>Signup</h2>
        <hr>
        <div class="form-group">
          <label class="control-label col-sm-3">Name</label>
          <div class="col-sm-9">
            <input id="name-tf" type="text" name="name" value="<%= user.name %>" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%;">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Email</label>
          <div class="col-sm-9">
            <input id="email-tf" type="text" name="email" value="<%= user.email %>" class="form-control">
          </div>
        </div>
        <hr>
        <h6 id="sub2">Choose your password</h6>
        <div class="form-group">
          <label class="control-label col-sm-3">Password</label>
          <div class="col-sm-9">
            <input id="pass-tf" type="password" name="pass" value="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-3">Confirm Password</label>
          <div class="col-sm-9">
            <input id="pass-conf" type="password" name="pass-conf" value="" class="form-control" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
          </div>
        </div>
        <hr>
        <div class="form-buttons">
          <button type="button" id="account-form-btn1" class="btn btn-default">Cancel</button>
          <button type="submit" id="account-form-btn2" class="btn btn-primary">Submit</button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
    <!-- display form errors in a custom modal window //-->
    <div class="modal-form-errors modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button data-dismiss="modal" class="close">x</button>
            <h4>Whoops!</h4>
          </div>
          <div class="modal-body">It looks like there was a problem.
            <ul></ul>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-alert modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!--button.close(data-dismiss='modal') x-->
            <h4></h4>
          </div>
          <div class="modal-body">
            <p></p>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" id="ok" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/jquery.form.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/views/signup.js"></script>
    <script src="/js/controllers/signupController.js"></script>
    <script src="/js/form-validators/accountValidator.js"></script>
  </body>
</html>
