<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Our Story</title>
    <!-- Bootstrap-->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/frontview-styles.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/flexslider.css" type="text/css">
    <link href="css/styles.css?v=1.6" rel="stylesheet">
    <link href="css/queries.css?v=1.6" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
  <section class="hero" id="hero">
    <header>
      <%- include ../partials/nav.ejs %>
      <% include ../partials/header.ejs %>
    </header>

    <!-- /.intro-header -->
  </section>
    <!-- Page Content -->

	<a  name="services"></a>

      <div class="content-section-b">

          <div class="container">

              <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                      <hr class="section-heading-spacer">
                      <div class="clearfix"></div>
                      <h2 class="section-heading">About Us</h2>
                      <p class="lead">Off Shore Air, Inc. is a family owned and operated company which prides itself with its excellent customer service and high-quality products and services. We have been in the HVAC business since 1996 and our president, Doug Jones is a third generation air conditioning contractor.</p>
                  </div>
                  <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                      <img class="img-responsive" src="https://s3-us-west-1.amazonaws.com/offshoreair-uploads/images/OSA_team.jpg" alt="OSA Team">
                  </div>
              </div>

          </div>
          <!-- /.container -->

      </div>
      <!-- /.content-section-b -->
    <div class="content-section-a">

        <div class="container">
            <div class="row border-between">
                <div class="col-lg-2 col-lg-offset-2 col-sm-6">
                    <p class="h1 header"><em>Quality</em></p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="clearfix"></div>
                    <p class="lead">Our president, Doug Jones, personally oversees every project we take on. As a third generation contractor, he has learned that quality suffers when the owner becomes disconnected from the work. Additionally, the majority of our employees have been with us since our founding, demonstrating a vested interest in the satisfaction of our customers. We take pride in our customers seeing the same crew on their project from start to finish. By doing so, we efficiently meet deadlines and maintain continuity in communication with our customers and project managers. Our business is personal. In fact, 97% of our business is referral based and most likely, you were referred to our website by someone you trust.</p>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->


    <div class="content-section-a">

        <div class="container">

            <div class="row border-between">
                <div class="col-lg-2 col-lg-offset-2 col-sm-6">
                    <p class="h1 header"><em>Price</em></p>
                </div>
                <div class="col-lg-8 col-sm-6">
                    <div class="clearfix"></div>
                    <p class="lead">Without sacrificing quality, Off Shore Air, can meet your budget. As a family-owned business, we run our company finances the same way we run our family finances. We do not incur debt or carry the overhead of large corporations, allowing us to pass the savings on to you. In fact, we are so confident that we can provide you a premier product within your budget, that we will beat any comparable estimate by a licensed and insured Hawaii HVAC contractor. We will also walk you through our itemized estimates, explaining the options available.</p>
                </div>
            </div>

        </div>

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner footer">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect With Us:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="/estimate" class="btn btn-default btn-lg"><i class="fa"></i> <span class="network-name">Get Estimate</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <% include ../partials/footer.ejs %>
    </footer>

    <!-- jQuery -->
    <script src="js/jquery-2.2.3.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
