<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Portal</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-switch.css">
    <link rel="stylesheet" href="/css/backend/backend.css">
    <style>
      .option a {
        padding: 0;
        border: 0;
        width: 100%;
      }

      .option a:hover {
        text-decoration: none;
        color: #1A5484;
      }

      .option span {
        background: #0D245D;
        border-radius: 5px 0 0 5px;
        padding: 15px 10px 15px 20px;
        color: white;
        width: 55px;
        display: inline-block;
        text-align: left;
        position: relative;
        top: -30px;
      }

      .option p {
        width: calc(100% - 55px);
        display: inline-block;
        padding: 15px 20px 15px 10px;
        background: white;
        border-radius: 0 5px 5px 0;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .option a:hover p {
        background: #DFE8F1;
      }

      .option a:hover span {
        background: #0D1834;
      }
    </style>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <script src="/js/jquery-2.2.3.min.js"></script>
    <script src="/js/bootstrap-switch.js"></script>
    <script type="text/javascript" src="//static.filestackapi.com/v3/filestack.js"></script>
  </head>
  <body>
    <%- include ../../partials/backend-nav.ejs %>
    <div id="manager" class="manager">
      <h1 class="display-4">Admin Home</h1>
      <br>

      <div id='options' class="row">
        <div class="col-md-11">
          <div class="row">
            <div class="col-md-6 option">
              <a href="/admin/email" class="btn btn-secondary btn-lg">
                <span><i class="fas fa-envelope"></i></i></span><p>Email Template Manager</p>
              </a>
            </div>
            <div class="col-md-6 option">
              <a href="/admin/employees" class="btn btn-secondary btn-lg">
                <span><i class="fas fa-id-badge"></i></span><p>Employees</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 option">
              <a href="/admin/files" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-file" aria-hidden="true"></i></span><p>Employee Files</p>
              </a>
            </div>
            <div class="col-md-6 option">
              <a href="/admin/form" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-edit" aria-hidden="true"></i></span><p>Edit Public and Employee Forms</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 option">
              <a href="/admin/images" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-file-image" aria-hidden="true"></i></span><p>Site Images</p>
              </a>
            </div>
            <div class="col-md-6 option">
              <a href="/admin/jobs" class="btn btn-secondary btn-lg">
                <span><i class="fa fa-industry" aria-hidden="true"></i></span><p>Featured Jobs</p>
              </a>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 option">
              <a href="/admin/hire/tasks" class="btn btn-secondary btn-lg">
                <span><i class="fas fa-user-check"></i></span><p>New Hire Tasks Manager</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
