<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Admin Portal</title>
  </head>
  <body>
    <h1>Admin Portal</h1>

    <h2>Welcome, admin.</h2>

    <a href="/employee">Employee Home</a>
    <a href="/employee/accreditations">Accreditations</a>
    <a href="/admin">Admin</a>
    <a href="/logout">Logout</a>

    <br>
    <h3>Admin tools</h3>
    <a href="/admin/manage/accreditations">Accreditations</a>
    <a href="/admin/manage/files">Files</a>
    <a href="/admin/manage/users">Users</a>
  </body>
</html>
